body {
  background-color:#fefefe;
}

span {
display: inline;  
}

title {
  display: none;
}

background {
  position:absolute;
  z-index:90;
  top:0px;
  bottom:0px;
  width:100%;
  background: url("https://raw.githubusercontent.com/Leggerrr/LegPSS/main/images/background.png") no-repeat fixed center bottom;
  opacity:0.4;
  margin-left:-8px;
}

namebar {
  height: 150px; 
  position: fixed; 
  bottom: 0%;
  width: 100%; 
  background-image: linear-gradient(to right, #0059ab, #019fe9);
  border-top: 5px solid #fefefe;
  opacity: 0.95;
  margin-left:-8px;
  z-index:100;
}

.name {
 line-height:150px;
 font-size: 50px;
 font-family: 'Montserrat', sans-serif;
 font-weight: 900;
 letter-spacing:2px;
 text-transform: uppercase;
 text-align: right;
 margin-right: 50px;
 color:#fefefe;
}

.trainerinfo {
  margin-top:-40px;
  font-size: 11px;
  text-transform:uppercase;
  font-family: 'Abel', sans-serif;
  letter-spacing:1.5px;
  color:#fefefe;
  text-align:left;
  margin-left:2px;
}

.pc {
top:50px;
width:480px;
margin: auto;
position:relative;
z-index:99;
top:184px;
padding:20px;
padding-bottom:10px;
padding-right:10px;
background:#fefefe;
border-radius:10px;
}

.pcrow {
  margin-bottom:10px;
}

.pcslot {
display: inline-block;  
height:70px;
width: 70px;
background: #000;
opacity:0.08;
border-radius: 5px;
margin-right:6px;
}

.poke {
  margin-top:-400px;
}

.pokerow {
  margin-bottom:6px;
}

.pokeslot {
display: inline-block;
height:70px;
width: 70px;
margin-right:6px;
text-align:center;
padding:0px;
pointer-events: none;
position:relative;
z-index:120;
}

.pokeslot img {
height:56px;
width:68px;
border:1px solid transparent;
border-top:7px solid transparent;
border-bottom:7px solid transparent;
padding:0px;
margin:0px;
}

/* Pulse */
@-webkit-keyframes pcslot {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes pcslot {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.pcslot {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pcslot:hover, .pcslot:focus, .pcslot:active {
  -webkit-animation-name: pcslot;
  animation-name: pcslot;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
