body {
  background-color:#fefefe;
  padding:0px;
}

pssbg {
  width:100%;
  height:100;
  top:0px;
  left:0px;
  background: url("https://raw.githubusercontent.com/Leggerrr/LegPSS/main/images/background.png") no-repeat fixed center bottom;  
}

pssnamebar {
  height: 40px; 
  position: fixed; 
  bottom: 0%;
  width: 100%; 
  background-color: #d70000;
  border-top: 10px solid #fefefe;
  opacity: 1;
}

