body {
  background-color:#fefefe;
}

background {
  position:absolute;
  top:0px;
  bottom:0px;
  width:100%;
  background: url("https://raw.githubusercontent.com/Leggerrr/LegPSS/main/images/background.png") no-repeat fixed center bottom;
  opacity:0.5;
  margin-left:-8px;
}

namebar {
  height: 150px; 
  position: fixed; 
  bottom: 0%;
  width: 100%; 
  background-image: linear-gradient(to right, #0059ab, #019fe9);
  border-top: 10px solid #fefefe;
  opacity: 1;
  margin-left:-8px;
}

.name {
 font:
 text-align:right;
 margin-right:20px;
}

